<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/choises.css">

</head>

<body>
    <header>
        <h2>Choix</h2>
        <a href="../index.html" class="homebtn">Home</a>
        <div class="contact">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </header>

    <main>
        <div class="content">
            <div id="culture" class="box">
                <img src="../assets/img/art.png" alt="">
                <div class="btmbox">
                    <h3>Culture Génerale</h3>
                    <i class="fa-solid ibtmbox fa-brain"></i>
                </div>
            </div>
            <div id="actu" class="box">
                <img src="../assets/img/art.png" alt="">
                <div class="btmbox">
                    <h3>Actualité & Politique</h3>
                    <i class="fa-solid ibtmbox fa-book"></i>

                </div>
            </div>
            <div id="sport" class="box"> <img src="../assets/img/art.png" alt="">
                <div class="btmbox ">
                    <h3>Sport</h3>
                    <i class="fa-solid ibtmbox fa-person-running"></i>
                </div>
            </div>
            <div id="musique" class="box "> <img src="../assets/img/art.png" alt="">
                <div class="btmbox ">
                    <h3>Musique</h3>
                    <i class="fa-solid ibtmbox fa-music"></i>
                </div>
            </div>
            <div id="art" class="box "> <img src="../assets/img/art.png" alt="">
                <div class="btmbox ">
                    <h3>Art & Littérature</h3>
                    <i class="fa-solid ibtmbox fa-palette"></i>
                </div>
            </div>
            <div id="tv" class="box "> <img src="../assets/img/art.png" alt="">
                <div class="btmbox ">
                    <h3>Tv & Cinéma</h3>
                    <i class="fa-solid ibtmbox fa-tv"></i>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/f29df7b430.js"></script>
    <script src="../assets/js/choises.js"></script>
</body>

</html>