<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title> Document </title>
    <link rel="stylesheet" href="assets/css/style2.css">
</head>

<body>

    <header>
        <div class="header">
        <h3 class="home">
            <a href="../index.html">Home</a>
        </h3>
        <h3 class="question-api content-api">[Api Question]</h3>
        <h3 class="categorie-api content-api">[Api Catégorie]</h3>
        <div class="reseaux">
            <img src="../assets/img/facebook.svg" alt="facebook logo">
            <img src="../assets/img/twitter.svg" alt="twitter">
            <img src="../assets/img/instagram.svg" alt="instagram">
        </div>
    </div>
    </header>

    <main>
        <div class="questions">
            <p class="question-A">A + [Question API]</p>
            <p class="question-B">B + [Question API]</p>
        </div>
        <div class="questions">
            <p class="question-C">C + [Question API]</p>
            <p class="question-D">D + [Question API]</p>
        </div>
    </main>

    <footer>
    </footer>


    <script src="https://kit.fontawesome.com/9761a3ceb3.js" crossorigin="anonymous"></script>
    <script src="assets/js/script2.js"></script>

</body>

</html>