
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --backColor : #8ACCFC;
    --color : #1F3851;
}

body{
    background: linear-gradient(#c9e5fa, #29a5fd) no-repeat;
    font-family: "Space Grotesk", sans-serif;
    margin: auto 200px;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 40px;
    color: var(--color);
}

button{
    background-color: #fff;
    color: var(--color);
    padding: 10px 30px;
    border-radius:  15px;
    font-size: 21px;
    border: none;
    box-shadow: rgba(0.19) 20px 20px, rgba(0.23) 6px 6px;
    cursor: pointer;
}

.homebtn {
    background-color: #fff;
    color: var(--color);
    padding: 7px 30px;
    border-radius:  15px;
    font-size: 21px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #1F3851;
    text-decoration: none;
}

i{
    color: var(--color);
    font-size: 28px;
    margin: 0 10px;
}

.hidden {
    display: none;
}

main{
    margin-top: 150px;
}

img{
    border-radius: 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btmbox{
    background-color: #1F3851;
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding-left: 10px;
    justify-content: center;
}

.ibtmbox {
    color: white;
}

.boxNiv {
    background-color: var(--color);
}

.diff {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.diffh3{
    font-size: 40px;
    margin-bottom: 20px;
}

.boxNiv{
    width: 300px;
    height: 150px;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    margin: 30px;
    padding: 20px;
    cursor: pointer;

}

.divChoises{
    display: flex;
}

.box {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}